@import '../../shared-styles/index';

.newEventButton a {
  @include button;
  background: $primary-button-background;
  color: $primary-button-color;
  position: relative;

  svg {
    width: 14px;
    height: 14px;

    path {
      fill: $primary-button-color;
    }
  }
}

@include mobile {
  .newEventButton {
    @include mobile-modal-footer;
  }
}
