@import '../../shared-styles/index';

.viewDay {
  @include modal-header;

  @include mobile {
    padding-bottom: $mobile-footer-height * 1.5;

    .closeButton {
      padding-bottom: 9px;
    }
  }

  .noEvents {
    padding: 24px 0;
    color: $border-color-light;
  }
}
