@import '../../shared-styles/index';

.gridEvent {
  font-family: $body-font;
  font-size: $font-size-small;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  color: $grid-text-color;

  span {
    white-space: nowrap;
    flex-shrink: 0;
  }

  &:before {
    content: '';
    @include circle(6px, $event-bullet-color);
    display: block;
    margin-right: 3px;
    flex-shrink: 0;
  }

  &.isAllDay {
    background: $allDay-background;
    margin-bottom: 4px;

    &:before {
      display: none;
    }

    &.spansMultiple {
      position: absolute;
    }
  }
}
