@import '../../shared-styles/index';

.gridEvent {
  font-family: $body-font;
  font-size: 0.8em;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  color: $grid-text-color;

  &:before {
    content: '';
    @include circle(0.6em, $event-bullet-color);
    display: block;
    margin-right: 3px;
  }

  &.isAllDay {
    background: $allDay-background-color;
    margin-top: 4px;

    &:before {
      display: none;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
