html, body {
  background: $body-background;
}

.app {
  font-family: $body-font;
  color: $body-color;
  padding-top: $nav-height;

  @include mobile {
    .content {
      height: calc(100vh - #{$mobile-footer-height} - #{$nav-height});
    }
  }
}
