.picker {
  display: flex;
  align-items: center;

  .next, .prev {
    display: flex;

    svg {
      width: 18px;
      height: 18px;
    }
  }
  .next {
    transform: rotate(180deg)
  }

  @include mobile {
    &.positionBottom {
      position: fixed;
      z-index: 150;
      width: 100%;
      left: 0;
      bottom: 0;
      height: $mobile-footer-height;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;

      a {
        pointer-events: all;
        width: 70px;
        height: 40px;
        @include center-both;
      }
    }
    &.positionTop {
      margin-right: 20px;

      a {
        width: 40px;
        height: 40px;
        @include center-both;
      }
    }
  }
}
