@import './variables';

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tabletAndUp {
  @media (min-width: #{$mobile-width + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1}) {
    @content;
  }
}

@mixin center-content {
  max-width: $content-width;
  margin: 0 auto;
}

@mixin center-both {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin modal-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 8px 0 0 0 8px 8px 8px;
}

@mixin circle($radius, $color) {
  display: block;
  width: $radius;
  height: $radius;
  border-radius: $radius;
  background: $color;
}

@mixin button {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
  @include center-both;

  &:active {
    filter: brightness(0.5);
  }
}

@mixin modal-header {
  .header {
    display: flex;
    align-items: center;
    padding-bottom: 6px;

    &>* {
      @include tabletAndUp {
        margin-right: 20px;
      }

      &:first-child {
        flex-grow: 1;
      }

      &:last-child {
        margin-right: 0;
        position: relative;
        top: 1px;
        height: 30px;
        width: 30px;
        @include center-both;
      }
    }
  }
}

@mixin mobile-modal-footer($z:0) {
  position: fixed;
  z-index: 100 + $z;
  display: flex;
  align-items: center;
  height: $mobile-footer-height;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
  background: $body-background;

  a, button {
    pointer-events: all;
    z-index: 150 + $z;
  }
}

@mixin modal {
  background: #fff;

  @include tabletAndUp {
    z-index: 200;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    width: 640px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: $nav-height * 1.5;
    padding: 24px;
    min-height: 300px;
    overflow-y: scroll;
  }

  @include mobile {
    z-index: 240;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: $nav-height;
    width: 100%;
    padding: 24px 16px $mobile-footer-height;
    min-height: calc(100vh - #{$nav-height} - #{$mobile-footer-height});
  }
}
