@import './variables';

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1}) {
    @content;
  }
}

@mixin center-content {
  max-width: $content-width;
  margin: 0 auto;
}

@mixin center-both {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@mixin modal-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 8px 0 0 0 8px 8px 8px;
}

@mixin circle($radius, $color) {
  display: block;
  width: $radius;
  height: $radius;
  border-radius: $radius;
  background: $color;
}
