$content-width: 900px;

$mobile-width: 600px;
$desktop-width: $content-width;

$padding: 15px;

$nav-height: 65px;
$nav-background: #FFA15A;
$nav-color: #fff;

$light-font: "NHaasGroteskDSPro-35XLt", "Helvetica", sans-serif;
$medium-font: "NHaasGroteskDSPro-55Rg", "Helvetica", sans-serif;
$bold-font: "NHaasGroteskDSPro-75Bd", "Helvetica", sans-serif;

$font-size-small: 0.8em;
$font-size-medium: 1em;
$font-size-large: 1.3em;
$font-size-xl: 2em;

$body-background: #F5EEE4;
$body-color: #808080;
$body-font: $medium-font;

$link-color: #ADBAC9;
$link-color-light: #D9DFE6;

$modal-background: #fff;
$modal-color: $link-color;

$transition-quick: 300ms;
$transition-super-quick: 50ms;
$ease: ease-in-out;

$highlight-primary-color: #FFC065;
$highlight-secondary-color: #C5D4E6;

$border-color-light:#C7C7C7;
$border-color-dark: #5B738F;

$allDay-background: $highlight-secondary-color;
$event-bullet-color: $border-color-dark;

$grid-text-color: #000;
$grid-today-color: $highlight-primary-color;
$grid-column-head-background: $nav-background;
$grid-column-head-color: #fff;

$primary-button-background: #4A90E2;
$primary-button-color: #fff;

$mobile-footer-height: 75px;
