.gridDay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $grid-text-color;
  padding-top: 16px;
  &:hover, &:active, &:visited {
    text-decoration: none;
  }

  .date {
    position: relative;
    align-self: center;
    font-size: $font-size-small;

    &.isToday {
      &:before {
        content: '';
        @include circle(1.7em, $grid-today-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: -1;
      }
    }
  }

  @include mobile {
    .events {
      align-self: center;
      flex-grow: 1;
      @include center-both;
      &.hasEvents {
        &:before {
          content: '';
          @include circle(1em, $event-bullet-color);
        }
      }
    }
  }
}
