.datePicker {
  display: flex;
  align-items: flex-end;

  .date {
    font-size: $font-size-xl;
    color: $body-color;
    font-family: $light-font;
    flex-grow: 1;
  }

  @include mobile {
    .date {
      text-transform: lowercase;
    }
  }
}
