.gridColumnHead {
  font-family: $body-font;
  background: $grid-column-head-background;
  color: $grid-column-head-color;
  text-align: center;
  padding: 4px 0;
  @include center-both;
  background-image: linear-gradient(-136deg, #FFC266 0%, #FF9E59 100%);
}
